name: App Pipeline

on:
  push:
    branches: [ main ]
    paths:
      - 'app/**'

permissions:
  id-token: write
  contents: read

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: azure/login@v1
      with:
        client-id: ${{ secrets.ARM_CLIENT_ID }}
        tenant-id: ${{ secrets.ARM_TENANT_ID }}
        subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}

    - name: Build Image
      run: docker build -t myapp:${{ github.sha }} ./app

    - name: Trivy Scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: myapp:${{ github.sha }}
        severity: HIGH,CRITICAL
        exit-code: 1

    - name: Push to ACR
      run: |
        az acr login --name myacr_assignment
        docker tag myapp:${{ github.sha }} myacr_assignment.azurecr.io/myapp:${{ github.sha }}
        docker push myacr_assignment.azurecr.io/myapp:${{ github.sha }}

    - name: Deploy to AKS
      run: |
        az aks get-credentials --resource-group rg-devops --name aks-devops
        kubectl apply -f k8s/
        kubectl rollout status deployment/myapp
